<!--The content below is only a placeholder and can be replaced.-->
<div class="app">

  <div class="col-sm-12 offset-md-3 col-md-6">
    <div class="text-center">
      <img alt="CoinTree Logo" src="../assets/images/HeaderLogo.png">
    </div>
    <hr />
    
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input type="text" class="form-control" id="askPrice" placeholder="Enter price..." [(ngModel)]="inputPrice">
    </div>
    <hr />
  </div>  

  <div class="col-sm-12 offset-md-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <tr>
            <td class="text-sm-left">Buy Price:</td>
            <td class="text-sm-right">${{ priceViewModel.ask }}</td>
            <td class="text-sm-right">
              <div [ngClass]="{'text-primary': priceViewModel.askPercent == 0, 'text-success': priceViewModel.askPercent > 0, 'text-danger': priceViewModel.askPercent < 0}">
                <div [ngClass]="priceViewModel.askPercentClass">
                  <i class="fas" [ngClass]="{'fa-handshake': priceViewModel.askPercent == 0, 'fa-thumbs-up': priceViewModel.askPercent > 0, 'fa-thumbs-down': priceViewModel.askPercent < 0}"></i>
                  {{ priceViewModel.askPercent.toFixed(2) }} %
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class="text-sm-left">Sell Price:</td>
            <td class="text-sm-right">${{ priceViewModel.bid }}</td>
            <td class="text-sm-right">
              <div [ngClass]="{'text-primary': priceViewModel.bidPercent == 0, 'text-success': priceViewModel.bidPercent > 0, 'text-danger': priceViewModel.bidPercent < 0}">
                <div [ngClass]="priceViewModel.bidPercentClass">
                  <i class="fas" [ngClass]="{'fa-handshake': priceViewModel.bidPercent == 0, 'fa-thumbs-up': priceViewModel.bidPercent > 0, 'fa-thumbs-down': priceViewModel.bidPercent < 0}"></i>
                  {{ priceViewModel.bidPercent.toFixed(2) }} %
                </div>
              </div>  
            </td>
          </tr>
          <tr>
            <td class="text-sm-left">Spot Price:</td>
            <td class="text-sm-right">${{ priceViewModel.spot }}</td>
            <td class="text-sm-right">
              <div [ngClass]="{'text-primary': priceViewModel.spotPercent == 0, 'text-success': priceViewModel.spotPercent > 0, 'text-danger': priceViewModel.spotPercent < 0}">
                <div [ngClass]="priceViewModel.spotPercentClass">
                  <i class="fas" [ngClass]="{'fa-handshake': priceViewModel.spotPercent == 0, 'fa-thumbs-up': priceViewModel.spotPercent > 0, 'fa-thumbs-down': priceViewModel.spotPercent < 0}"></i>
                  {{ priceViewModel.spotPercent.toFixed(2) }} %
                </div>
              </div>  
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
