<!--The content below is only a placeholder and can be replaced.-->
<div class="app">

  <div class="row">
    <div class="col-sm-12 offset-md-3 col-md-6">
      <div class="text-center">
        <img alt="CoinTree Logo" src="../assets/images/HeaderLogo.png">
      </div>
      <hr />
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-12 offset-md-2 col-md-8">
      <div class="card">
        <div class="card-body">
          <table>
            <tr>
              <td>Buy Price</td>
              <td>${{ priceViewModel.ask }}</td>
              <td [ngClass]="'negative': priceViewModel.askPercent < 0, 'positive': priceViewModel.askPercent > 0">{{ priceViewModel.askPercent }} %</td>
            </tr>
            <tr>
              <td>Sell Price</td>
              <td>${{ priceViewModel.bid }}</td>
              <td [ngClass]="'negative': priceViewModel.bidPercent < 0, 'positive': priceViewModel.bidPercent > 0">{{ priceViewModel.bidPercent }} %</td>
            </tr>
            <tr>
              <td>Spot Price</td>
              <td>${{ priceViewModel.spot }}</td>
              <td [ngClass]="'negative': priceViewModel.spotPercent < 0, 'positive': priceViewModel.spotPercent > 0">{{ priceViewModel.spotPercent }} %</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>
